@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Spline+Sans&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(169, 55, 245);
    font-family: 'Poppins';
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    justify-content:center ;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
.btn{
    background-color: rebeccapurple;
    border: none;
    border-radius:5px;
    color: white;
    margin: 1rem;
    padding:1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }
    &:active{
        transform: scale(0.98);
    }
}